apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow-server
  labels:
    app: mlflow-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow-service
  template:
    metadata:
      labels:
        app: mlflow-service
    spec:
      containers:
        - name: mlflow
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - containerPort: {{ .Values.service.targetPort }}

          env:
            - name: BACKEND_STORE_URI
              value: "{{ .Values.env.BACKEND_STORE_URI }}"
            - name: ARTIFACT_ROOT
              value: "{{ .Values.env.ARTIFACT_ROOT }}"
            - name: AWS_DEFAULT_REGION
              value: "{{ .Values.env.AWS_DEFAULT_REGION }}"
            - name: MLFLOW_S3_IGNORE_TLS
              value: "{{ .Values.env.MLFLOW_S3_IGNORE_TLS }}"

            # Cho phép ALB + domain public truy cập
            - name: MLFLOW_ALLOW_EVERYONE
              value: "true"

          volumeMounts:
            - name: mlflow-storage
              mountPath: /mlflow

          resources:
            {{- toYaml .Values.resources | nindent 12 }}

      volumes:
        - name: mlflow-storage
          emptyDir: {}
